
Dockerfile




/var/*
!/var/cache
!/var/log
/var/cache/*
/var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep




/vendor/

.git

uploads/*
!uploads/images
!uploads/images/animaux
!uploads/images/habitats